<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>

    <script src="jquery/dist/jquery.js"></script>
    <script src="../src/thermostatJQuery.js"></script>
    <script src="../src/thermostat.js"></script>
    <link rel="stylesheet" href="../public/styles.css">

  </head>


  <body>

    <h1 id="current_temp">Current Temp: 20C</h1>
    <h2 id="PSM_indicator">Power Saving Mode: true</h2>
    <h2 id="EU_indicator">Energy Usage: medium</h2>

    <button id="up">Up</button>
    <button id="down">Down</button>
    <button id="reset">Reset</button>
    <button id="PSM">PSM</button>

  </body>
</html>
